<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PLIBMTTBHGATY</title>

    <%= stylesheet_link_tag "screen" %>
    <link href='https://fonts.googleapis.com/css?family=Biryani:300,700' rel='stylesheet' type='text/css'>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= javascript_include_tag  "all" %>
    <%= partial "partials/google-maps-scripts" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial 'partials/hero-text-animation' %>

    <main id="main" role="main">
      <%= yield %>
      <%= partial 'partials/footer' %>
    </main>
  </body>
</html>
