<section class="nav-top">
  <div class="nav-top-text">
    <%= link_to 'PLIBMTTBHGATY', '/' %>
  </div>
  <nav>
    <ul class="nav-top-list">
      <li><%= link_to 'Home', '/' %></li>
      <li><%= link_to 'About', '/#about' %></li>
      <li><%= link_to 'Events', '/#events' %></li>
      <li><%= link_to 'Get Involved', '/#get-involved' %></li>
      <li><%= link_to 'Code of Conduct', '/#code-of-conduct' %></li>
    </ul>
  </nav>
</section>