---
pageable: true
per_page: 10
---
<%= image_tag "photo-1.jpg", class: "photo photo-1" %>

<section class="content-section box what-is" id="jump--what-is">
  <h1 class="acronym">PLIBMTTBHGATY!</h1>
  <h2>What is this thing?</h2>
  <p>
    It's a lightly-structured party where people get together and work on a project in a new programming language, either with or just near each other.
  </p>

  <p>
    This all started with the realization that plenty of people have a side-project in mind to work on, that it's more fun to work together, and that many of us are just waiting for a good excuse to get started.
  </p>
</section>

<%= partial "partials/tweet_1" %>
<%= image_tag "photo-2.jpg", class: "photo photo-2" %>
<%= partial "partials/vine" %>

<section class="content-section events">
  <div class="box">
    <h2>Events</h2>
    <p class="no-upcoming-events hidden">No upcoming events <i class="em em-cry"></i></p>
    <ul class="events-list" id="events-list"></ul>

    <ul class="events-list past-events-list" id="past-events-list"></ul>
  </div>

  <%= partial "partials/tweet_2" %>

  <div id="event-map"></div>
</section>

<%= image_tag "photo-3.jpg", class: "photo photo-3" %>
<%= partial "partials/tweet_3" %>
<div class="box content-section host-party">
  <h2>Host a PLIBMTT-PARTY</h2>
  <p>
    It's easy to throw a PLIBMTTBHGATY; just find a space, <a href="https://github.com/plibmttbhgaty/plibmttbhgaty.github.io" target="blank">open a pull request</a> to add your event to this website, and invite some friends.
  </p>

  <h3>Some ingredients include:</h3>
  <ul class="party-ingredients">
    <li class="party-ingredient"><p>
      Coffee
    </p></li>
    <li class="party-ingredient"><p>
      Breakfast
    </p></li>
    <li class="party-ingredient"><p>
      Name tags
    </p></li>
    <li class="party-ingredient"><p>
      Whiteboards
    </p></li>
    <li class="party-ingredient"><p>
      Couches
    </p></li>
    <li class="party-ingredient"><p>
      Reference books
    </p></li>
    <li class="party-ingredient"><p>
      Lunch
    </p></li>
    <li class="party-ingredient"><p>
      Signs with names of programming languages
    </p></li>
    <li class="party-ingredient"><p>
      A show-and-tell at the end
    </p></li>
  </ul>
  <p>Four to five hours seems to be about the right amount of time for this.</p>
</div>

<%= partial "partials/tweet_4" %>

<script type="text/javascript">
  google.maps.event.addDomListener(
    window,
    "load",
    function() {
      $.get('/events.json', {}, function(data) {
        var upcomingEvents = $.grep(data, eventIsUpcoming);
        new Plibmttbhgaty.EventMap().init(upcomingEvents);
      });
    }
  );
</script>
